.productphoto {
    height:278.5px;
}

.buffer {
    margin-bottom:30px;
}

.card-section, button {
    color: lightgray;
}

.notes {
    font-weight: bold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;s
  }

.fa-facebook {
    background: #3B5998;
    color: white;
}

#logo {
    height: 50px;
}