.productphoto {
    height:278.5px;
}

.buffer {
    margin-bottom:30px;
}

.card-section, button {
    color: lightgray;
}

.notes {
    font-weight: bold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    height:50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-instagram {
    background: #E1306C;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

#logo {
    height: 50px;
}